/* GERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root {
    --header: #d6d6d6;
    --texto-principal: #433e3e;
    --texto-hover: #656161;
    --background-pagina: #ffffff;
    --cor-fundo-tema: #ffffff;
}

body.modo-escuro {
    --header: #1a1a1a;
    --texto-principal: #f0f0f0;
    --texto-hover: #656161;
    --background-pagina: #121212;
    --cor-fundo-tema: #333333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--background-pagina);
    color: var(--texto-principal);
    transition: background 0.3s ease-in 0.1s;
}

body a {
    text-decoration: none;
    color: var(--texto-principal);
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    width: 100%;
    background-color: var(--header);
    justify-content: space-between;
    padding: 1.8rem 3rem;
}

nav ul div {
    display: flex;
    gap: 2rem;
}

nav #config {
    position: relative;
    cursor: pointer;
}

nav #config img {
    width: 1.5rem;
}

body.modo-escuro #config img {
    filter: invert(1);
}

nav #config:hover ul {
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

nav #config ul {
    display: none;
    flex-direction: column;
    width: max-content;
    position: absolute;
    right: 0;
    background-color: var(--cor-fundo-tema);
    padding: 0.41rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0,0,0,0.15);
    top: 100%;
}

nav #config ul li#tema {
    color: var(--texto-principal);
    white-space: nowrap;
}

nav a, nav li{
    list-style-type: none;
    display: inline-block;
    transition: all 0.1s ease-in;
}

nav a:hover, nav li:hover {
    color: var(--texto-hover);
    transform: scale(1.1);
}
/* CONTEÚDO PRINCIPAL */
main {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    min-height: 100vh;    
}

main#coluna{
    flex-direction: column;
}

.main_comparacao {
    flex-flow: column; 
    align-items: center;
    gap: 2rem;
}

.main_comparacao :last-child{
    padding-bottom: 8rem;
}

.container-padrao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-flow: column;
    padding: 2rem;
    text-align: center;
}
 
.container-padrao img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container-padrao img:hover {
    transform: scale(1.15);
}

/* ESTILO PARA CARDS (COMPARATIVO) */
main section.fora {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 4rem 2rem;
}

main section.cards img {
    max-width: 25rem;
}

.cards{
    position: relative;
    width: 30rem;
    height: 40rem;
    cursor: pointer;
}

.iphone figure img{
    padding-top: 1rem;
}

.cards figure img, .cards img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
    
.cards div{
    display: none;
}    

.cards:hover div{
    display: block;
    position: absolute;
    bottom: 20px;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    width: 90%;         
}
    
.cards:hover figure img {
    transform: scale(1.15); 
}
    

main div.divisor {
    border-left: 0.5rem solid var(--header);
    height: 30rem;
}

main p {
    max-width: 30rem;
    line-height: 1.5;
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--header);
    margin-top: 2.5rem;
}


.div-login{
    display: flex;
    align-items: center;
    justify-content: right;
    background-image: url(image-removebg-preview.png);
    background-repeat: no-repeat;
    height: 63rem;
    background-size: 30rem;
    background-position: top 13rem left 40rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35rem;
    padding: 3rem;
    margin: 0 50rem 0 0;
    background-color: var(--background-pagina-);
    border-radius: 1.2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.login label {
    display: block;
    margin-bottom: 0.8rem;
    color: var(--texto-principal);
    font-weight: 600;
    font-size: 1.4rem;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease-in 0.1s;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #2A2F42;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.login input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #2A2F42;
    color: #f0f0f0;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.login input[type="submit"]:hover {
    background-color: #222836;
}

.login input[type="submit"]:active {
    transform: scale(0.98);
}

#sansung-logo {
    width: 15rem;
}

#apple-logo {
    width: 10rem;
}

#iphone-diferentinho{
    width: 30rem;
}

#comentarios{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1.5px solid var(--texto-principal);
    border-spacing: 0;
    color: var(--texto-principal);
    padding: 1.5rem;
}