/* GERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header: #d6d6d6;
    --texto-principal: #433e3e;
    --background-pagina: #ffffff;
    --cor-fundo-tema: #ffffff;
}

body.modo-escuro {
    --header: #1a1a1a;
    --texto-principal: #f0f0f0;
    --background-pagina: #121212;
    --cor-fundo-tema: #333333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-pagina);
    color: var(--texto-principal);
    transition: background 0.3s ease;
}

body a {
    text-decoration: none;
    color: var(--texto-principal);
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    width: 100%;
    background-color: var(--header);
    justify-content: space-between;
    padding: 1.8rem 3rem;
}

nav ul div {
    display: flex;
    gap: 2rem;
}

nav #config {
    position: relative;
    cursor: pointer;
}

nav #config img {
    width: 1.5rem;
}

body.modo-escuro #config img {
    filter: invert(1);
}

nav #config:hover ul {
    display: flex;
}

nav #config ul {
    display: none;
    flex-direction: column;
    width: max-content;
    position: absolute;
    right: 0;
    background-color: var(--cor-fundo-tema);
    padding: 0.41rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0,0,0,0.15);
    top: 100%;
}

nav #config ul li#tema {
    padding: 0.8rem 2rem;
    color: var(--texto-principal);
    white-space: nowrap;
}

nav li {
    list-style-type: none;
}

/* CONTEÚDO PRINCIPAL */
main {
    padding-top: 7rem;
    min-height: 100vh;
}

.container-padrao {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* ESTILO PARA CARDS (COMPARATIVO) */
main section.fora {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 4rem 2rem;
}

main section.cards {
    display: flex;
    flex-flow: column;
    gap: 1.8rem;
    align-items: center;
}

main section.cards img {
    max-width: 250px;
}

main div.divisor {
    border-left: 0.5rem solid var(--header);
    height: 300px;
}

main p {
    max-width: 30rem;
    line-height: 1.5;
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--header);
    margin-top: 2rem;
}